page-detailcircuit {
	.titlescreen{
		font-family: 'Montserrat Regular';
		font-size:18px;
		color:dark;
		text-align:center;
	}
	.iconback{
		width: 9%;
		float:left; 
	}
	ion-content{
    	background-color:#E9E9E9!important;
	}
	// CSS CARD IMAGE
	.levelbtn{
		color: #ffffff;
		font-size: 12px;
		font-family: 'Montserrat Regular';
	}
	.button-ios-levelone{
		color: #ffffff;
		font-size: 12px;
		font-family: 'Montserrat Regular';
	}
	h4{
		font-size: 14px;
		font-family: 'Montserrat Regular';
	}
	.iconcircuit .icon{
		// width: 35%;
		font-size: 20px;
	}
	.texticon{
		font-family: 'Montserrat Regular';
		font-size: 14px;
		margin-left: 5px;
	}
	.boximg{
		height: 210px;
	}
	.imgdetail{
		height: 100%;
	}
	.textdescription p{
		font-size: 12px;
		font-family: 'Montserrat Light';
		text-align: justify;
		line-height: 20px;
	}
	.textdescription .btnvp{
		color: #2ECC71;
		text-decoration: underline;
		font-size: 10px;
		font-family: 'Montserrat Regular';
		float: right;
	}
	.card-title-md{
		margin: 0!important;
		padding: 0!important;
	}
	// CSS CARD IMAGE
	ion-slides {
		height: auto;
	}
	.card-no-padding {
		padding: 0 !important;
	}
	.row-meteo p {
		font-family: 'Montserrat Regular';
    	font-size: 12px;
	}
	.row-meteo .icon{
		font-size: 28px;
	}
	.btn-standard {
		text-transform: capitalize !important;
	}
	.evaluate-text-aravis{
		font-family: 'Montserrat Black';
		font-size: 14px;
		font-weight: 900;
	}

	.evaluate-text-title{
		font-family: 'Montserrat Regular';
		font-size: 14px;
		font-weight: bold;
	}
	.comment-user-name {
		margin-top: 5%;
		font-size: 16px;
		font-family: 'Montserrat Regular';
	}
	.comment-date{
		margin-top: 10%;
		font-size: 12px;
		font-family: 'Montserrat Light';
		float: right;
	}
	.comment-content{
		font-size: 12px;
		font-family: 'Montserrat Light';
	}
	

}
